header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sharkboy {
  text-align: center;
  justify-content: center;
}

.accordion {
  padding: 5em;
}

.accordion-button {
  justify-content: center;
}

.accordion-button:hover {
  background-color: black;
  color: white;
}
