html,
section,
header {
  background-color: #2e4172;
  color: #7887ab;
}

header {
  display: flex;
}

section {
  display: inline-flex;
  flex-direction: row;
  gap: 4rem;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
