.horizontal-line {
  color: white;
}

.overall {
  justify-content: center;
  color: white;
}

.sharkboy {
  border-style: none;
}

header {
  display: flex;
  justify-content: center;
  color: white;
  background-image: url(images/13273.gif);
  background-size: contain;
  background-blend-mode: lighten;
  opacity: 0.6;
}

section {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

p {
  width: 15rem;
  border-style: groove;
  text-align: center;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 1s;
}

/* relevant styles */
.img__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 4rem;
  width: 4rem;
}

.img__description {
  position: relative;
  top: -2.5rem;
  bottom: 0;
  left: 2.6rem;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  width: fit-content;
  height: fit-content;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

img:hover {
  transform: scale(1.1);
}
