.overall {
  justify-content: center;
  color: white;
}

.sharkboy {
  border-style: none;
}

header {
  display: flex;
  justify-content: center;
  color: white;
}

section {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

p {
  width: 15rem;
  border-style: groove;
  text-align: center;
}
