header {
  background-color: black;
  color: white;
}

div {
  background-color: black;
}

h1 {
  text-align: center;
}

.sharkboy {
  text-align: center;
}

.card {
  color: white;
}

.card-title {
  text-decoration: underline;
  color: white;
}

.card-body {
  color: white;
}

img {
  width: 450px;
  height: 300px;
}
